---
import Layout from "../layouts/Layout.astro";
import { SignedIn } from "@clerk/astro/components";
---

<Layout title="Welcome to my project.">
  <main>Welcome to my project.</main>
  <SignedIn>
    Please proceed to the <a href="/dashboard">dashboard</a>.
  </SignedIn>
</Layout>
